// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #DA725B;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #D9D6DC;
$moods-bg: #1B1B1B;
$cyan: #0acfd5;
$btnColor: #1C1848;
$purple: #6b1a6f;
$light-yellow: #F2E0B7;
