input#index-search[type=text] {
  color: white;
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
  height: 50px;
  text-align: left;
  width: 670px;
  max-width: 30vh;
  min-width: 200px;
  background-color: #1A1A1A;
  border: 2px solid #F2E0B7;
  padding-left:20px;
  outline:none;
  margin: 0px 0px 0px 12px;
}

#card-default{
    max-height:70vh;
    position: sticky;
    top:114px;
    margin-top:69px;
  }

input[type=text] {
  color: white;
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
  height: 50px;
  text-align: center;
  width: 670px;
  max-width: 40vh;
  min-width: 300px;
  background-color: #1A1A1A;
  border: 2px solid #F2E0B7;
  padding-left:0px;
  margin-left:20px;
  outline:none;
}

#query {
  text-align: left;
}

input[type=text]:focus {
  color: grey;
  background-color: #1B1B1B;
}

label {
  font-weight: bold;
  color:grey;
}

abbr[title] {
  display: none;
}


.simple_form {
  text-align: center;
  width:100%;
}

.page-title {
  margin-top: 20px;
}

.new-form {
  padding:20px;
  border: none;
  border-radius:20px;
  margin-top:15px;
  transform: scale(0.8);
  transform-origin: top center;
  background: linear-gradient(145deg, #181818, #1d1d1d);
  box-shadow:  4px 4px 8px #0b0b0b,
               -4px -4px 8px #2b2b2b;
}

@media (max-width: 568px) {
  h1 {
    margin: 0;
    font-size: 1.5em;
  }
  input#index-search[type=text] {
    width: 250px;
    min-width: 250px;
  }
  #card-default{
    display: none!important;
  }
}
