<div id="footer" class="container-fluid fixed-bottom border-top">
  <div class="row">
    <div class="col">
      <%= link_to icon('fas', 'home'), root_path %>
    </div>
    <div class="col">
      <%= link_to icon('fas', 'stream'), playlists_path %>
    </div>
    <div class="col">
      <%= link_to icon('fas', 'user'), playlists_path %>
    </div>
    <div class="col">
      <%= link_to icon('fab', 'spotify'), playlists_path %>
    </div>
  </div>
</div>
