<aside class="sidenav">
  <%= link_to image_tag("moods-logo.png"), root_path, class: 'sidenav-logo'%>
  <ul class="sidenav__list">
    <h4><li class="sidenav__list-item" id="moods"><i class="fas fa-globe-asia"></i>Moods</li></h4>
    <h4><li class="sidenav__list-item" id="explore"><i class="fas fa-rocket"></i>Explore</li></h4>
    <h4><li class="sidenav__list-item" id="library"><i class="fas fa-compact-disc"></i>Library</li></h4>
    <h4><li class="sidenav__list-item" id="rooms"><i class="fas fa-cube"></i>Rooms</li></h4>
  </ul>
</aside>
