<aside class="sidenav">
  <%= link_to image_tag("moods-logo.png"), root_path, class: 'sidenav-logo'%>
  <ul class="sidenav__list">
    <h4>
      <%= link_to playlists_path do %>
        <li class="sidenav__list-item" id="moods"><i class="fas fa-globe-asia"></i>My moods</li>
      <% end %>
    </h4>
    <h4>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <li class="sidenav__list-item" id="moods"><i class="fas fa-sign-out-alt"></i>Sign out</li>
      <% end %>
    </h4>
  </ul>
</aside>
