<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://cdn.dribbble.com/users/518045/screenshots/7209117/media/9715c8a95cf754472300aaa45883690b.png);">
  <div class="container text-center">
    <h1>Moods, the soundtrack of your life</h1>
    <p>Discover new tracks, create playlists, enjoy !</p>
  </div>
</div>
<div id="button-banner">
  <%= link_to "Sign in with Spotify", user_spotify_omniauth_authorize_path, class: "btn btn-spotify text-center" %>
</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = 'BQAcQwEsLI7k38sKTz-SKtIcEVdXY5DxabRYz4KxDLVORkPnpMk03T9CDD3mHqWpgMA5tTrmAhHs-fQu3pjX7uI94YY92nJJPHuHZW-IPlshsU3QZPku3-ceIolv76KOlt-plS5LNAnoex2_OYa4pY3VTWF46aA';
      const player = new Spotify.Player({
        name: 'Web Playback SDK Quick Start Player',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
      player.connect();
    };
  </script>
