<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://i.redd.it/xnpr3owrwlm51.jpg);">
  <div class="container text-center">
    <div class="welcome-text">
      <h1>Moods</h1>
      <p>Context-based listening experience with audio features</p>
    </div>
    <div id="button-banner">
      <%= link_to "Sign in with Spotify", user_spotify_omniauth_authorize_path, class: "btn btn-spotify text-center" %>
    </div>
  </div>
</div>
