#add-button {
  display:flex;
  align-items:center;
  justify-content:center;
  padding : 5px;
  border-radius: 150px;
  background: linear-gradient(145deg, #181818, #1d1d1d);
  box-shadow:  7px 7px 13px #0b0b0b,
               -7px -7px 13px #2b2b2b;
  padding: 17px;
  margin-right: 27px;
  i {
    color:#26F46F;
    font-size:20px;
  }
  &:hover {
    box-shadow: inset 8px 8px 15px #0b0b0b,
            inset -8px -8px 15px #2b2b2b;
    background: #1B1B1B;
    i {
      color:#6FF79F;
    }
  }

  &:active {
    box-shadow: inset 8px 8px 15px #0f622c,
            inset -8px -8px 15px #3dffb2;
    background: #26F46F;
    i {
      color:#1B1B1B;
    }
  }
}
