.card-grid {
  // display: grid;
  // grid-template-columns: 5fr;
  // grid-template-rows: 50px 50px 1fr 1fr 50px;
  // grid-template-areas:
  //     "title title title title title "
  //     "genres genres genres genres genres "
  //     "vinyl vinyl vinyl vinyl vinyl"
  //     "vbar vbar vbar vbar vbar"
  //     "logo logo logo logo logo";
  // height: 100%;
  // width: 100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
  padding:20px;
  min-height: 300px;
}

.edit-link {
  display: inline;
 position: absolute;
 top: 0px;
 right: 0px;
}

.title-div {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genres-div {
  grid-area: genres;
  display: flex;
  justify-content: left;
}

.vinyl-div {
  grid-area: vinyl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
}

.vbar-div {
  grid-area: vbar;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow:1;
}

.logo-div {
  grid-area: logo;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  img{
    filter:grayscale(1);
    border-radius: 50%;
    background: #1B1B1B;
    box-shadow:  4px 4px 16px #0b0b0b,
             -4px -4px 16px #2b2b2b;
    width:25px;
    height:25px;
  }
}

.card {
  word-break:break-word;
  max-height: 471px;
  height: 90%;
  min-width:298px;
  border-radius: 10px;
  transition: 0.4s ease-out;

  &:before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    margin: 5px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: #1B1B1B;
  }


  // &.example {
  //   background: linear-gradient(148deg, #00ffbd, #ff8900, #00dbff, #e700ff);
  //   background-size: 800% 800%;

  //   -webkit-animation: AnimationName 8s ease infinite;
  //   -moz-animation: AnimationName 8s ease infinite;
  //   animation: AnimationName 8s ease infinite;

  //   @-webkit-keyframes AnimationName {
  //       0%{background-position:0% 51%}
  //       50%{background-position:100% 50%}
  //       100%{background-position:0% 51%}
  //   }
  //   @-moz-keyframes AnimationName {
  //       0%{background-position:0% 51%}
  //       50%{background-position:100% 50%}
  //       100%{background-position:0% 51%}
  //   }
  //   @keyframes AnimationName {
  //       0%{background-position:0% 51%}
  //       50%{background-position:100% 50%}
  //       100%{background-position:0% 51%}
  //   }
  // }
}

.card:hover .circle .item-img img {
  filter:none;
  transition: 0.2s ease-out;
}

.card:not(:first-child) {
    margin-left: -50px;
}


// .card:hover {
//   transform: scale(1.005);
//   transition: 0.2s ease-out;
// }

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.2s ease-out;
}

.card-title {
  text-decoration: none;
  color: $light-yellow;
  z-index:3;
  text-transform: uppercase;
  font-weight:700;
  margin-bottom: 0px;
}

.card-genres {
  text-decoration: none;
  color: grey;
  z-index: 3;
  font-weight: 400;
  top: 76px;
  left: 18px;
  font-size: 1.25em;
  margin-bottom: 0px;
}

.vbar {
  position:relative;
  height: 90%;
  width: 5px;
}

.emptyvbar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledvbar {
  position:absolute;
  bottom:0px;
  z-index: 3;
  height: 0%;
  width: 100%;
  transition: 0.2s ease-out;

  &.example {
    height:100%;

    // background: linear-gradient(148deg, #00ffbd, #ff8900, #00dbff, #e700ff);
    // background-size: 800% 800%;

    // -webkit-animation: AnimationName 8s ease infinite;
    // -moz-animation: AnimationName 8s ease infinite;
    // animation: AnimationName 8s ease infinite;

    // @-webkit-keyframes AnimationName {
    //     0%{background-position:0% 51%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 51%}
    // }
    // @-moz-keyframes AnimationName {
    //     0%{background-position:0% 51%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 51%}
    // }
    // @keyframes AnimationName {
    //     0%{background-position:0% 51%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 51%}
    // }
  }
}

.card:hover .filledvbar {
  height: 100%;
  transition: 0.2s ease-out;
}

.circle {
  position: absolute;
  top: 25%;
  left: calc(50% - 60px);
}

.stroke {
  stroke: #757575;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.2s ease-out;
}

.card.example .stroke {
  stroke-dashoffset: 0;
}

svg {
  fill: #141414;
  stroke-width: 3px;
}

.card:hover .stroke {
  stroke-dashoffset: 0;
  transition: 0.2s ease-out;
  & .example {
    stroke-dashoffset: 0;
    stroke-dasharray: 360;
  }
}


//------------------------------------------------------------------------


// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 50px;
//   a {
//     color:white;
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

// .card-category {
//   background-size: cover;
//   background-position: center;
//   height: 360px;
//   word-break: break-word;
//   display: flex;
//   position: relative;
//   align-items: center;
//   overflow:hidden;
//   border-radius: 16px;
//   background-position: top;
//   transition :0.2s;
//   & .btn-play {
//       position: absolute;
//       font-size: 4em;
//       bottom: -5px;
//       left: 15px;
//   };
//   & .title {
//       font-size: 40px;
//       font-weight: bold;
//   };
// }

// .card-category:hover {
//     text-shadow: 4px 4px 15px rgba(0,0,0,0.2);
//     & .btn-play {
//       transform: rotate(360deg);
//       transition: 0.8s;
//     }
//   }

// .card-transparent-background {
//   height: 30px;
//   width: 30px;
// }


// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card {
    max-height: 471px;
    height: 90%;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

