.footer {
  grid-area: footer;
  position:fixed;
  width: 100%;
  height:75px;
  // display: flex;
  bottom:0px;
  // align-items: center;
  // justify-content: space-between;
  padding: 0 16px;
  background: #141414;
  backdrop-filter: blur(20px);
  z-index:9;
}


.spin {
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all .5s ease-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.vinyl-hole{
  position: absolute;
  left: 124px;
  top: -3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #141414;
  z-index: 12;
}

.vinyl-background{
  position: absolute;
    left: 57px;
    top: -66px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #141414;
    z-index: 0;
}

#current-track-image {
    position: absolute;
    left: 82px;
    top: -45px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: -10px -10px 19px black;
    z-index:6;

    &.spin {
    }

    &.paused {
      -webkit-animation-play-state:paused;
      -moz-animation-play-state:paused;
      -o-animation-play-state:paused;
      animation-play-state:paused;
    }

    &.spin::before {
      transition: all .5s ease-out;
      animation: rotation 3s infinite linear;
      -webkit-animation: rotation 3s infinite linear;
      animation-fill-mode: forwards;
    }

}


    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
