#footer {
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: $moods-bg;
  a {
    color:white;
    font-size: 48px;
    // font-size: 3em;
  }
}

.footer {
  color: #6F6F6F;
}
