.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header'
    'main';
  height: 100vh;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.main.inactive {
  overflow: hidden;
}

.main-searchbar {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top:16px;
  height: 50px;
  a {
    text-decoration:none;
  }
}

@media only screen and (max-width: 910px) {
  .main.inactive {
    padding: 1rem !important;
    // padding-left: 1rem !important;
    // padding-right: 1rem !important;
  }
}


@media only screen and (min-width: 56.875em ) {

  .grid-container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main";
  }

  .main-searchbar {
    margin-left: 32px;
  }
}
