.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  // background-color: #648ca6;
}

/* Make room for the menu icon on mobile */
.header__title {
  margin-left: 48px;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 270px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-400px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  padding-top:126px;
  box-shadow:  10px 10px 19px #0b0b0b,
             -10px -10px 19px #2b2b2b;
}

.sidenav-logo img {
    width: 20px;
  }


.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 48px;
  color: #6F6F6F;
  display:flex;
  align-items: center;
  transition: all 0.15s ease-out;
  &:hover{
      cursor: pointer;
      background: #1B1B1B;
      box-shadow: inset 9px 9px 18px #141414,
                  inset -9px -9px 18px #222222;
      i {
        color:#ef3787;
      }
    }


}

#moods:hover {
  color:#ef3787;
}

#explore:hover {
  color:#ff8c00;
}

#explore:hover i {
  color:#ff8c00 !important;
}


#library:hover {
  color:yellow;
}

#library:hover i {
  color:yellow !important;
}

#rooms:hover {
  color:#a1ff0a;
}

#rooms:hover i {
  color:#a1ff0a !important;
}

.sidenav__list-item i {
  color: #6F6F6F;
  margin-right:20px;
  transition: all 0.15s ease-out;
}


.main {
  grid-area: main;
}

.main-searchbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-left : 60px;
  height: 50px;

}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

@media only screen and (min-width: 56.875em ) {

  .grid-container {
    grid-template-columns: 270px 1fr;
    grid-template-rows: 200px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__title {
  margin-left: 48px;
  font-size: 90px;
  font-weight: 700;
  text-shadow:  10px 10px 19px #0b0b0b,
             -10px -10px 19px #2b2b2b;
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav-logo {
    position: absolute;
    top: 48px;
    left: 80px;
    border-radius:100px;
    transition: box-shadow 1s ease-out;
    &:hover {
      box-shadow:  1px 1px 50px #b255d4,
             -1px -1px 50px #6D276D;
    }

  }



  .sidenav-logo img {
  width:100px;
  }
}
