.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  // background-color: #648ca6;
}

/* Make room for the menu icon on mobile */
.header__title {
  margin-left: 48px;
  font-size: 90px;
  font-weight: 700;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 270px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-400px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  padding-top:126px;
  background: linear-gradient(315deg, #191b2d, #1e2036);
  box-shadow:  20px 20px 60px #11121e,
             -20px -20px 60px #272a47;
  border-radius:25px;
}


.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.main {
  grid-area: main;
}

.main-searchbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-left : 60px;
  height: 50px;

}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

@media only screen and (min-width: 56.875em ) {

  .grid-container {
    grid-template-columns: 270px 1fr;
    grid-template-rows: 200px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav-logo {
    position: absolute;
    top: 48px;
    left: 80px;
    box-shadow:  20px 20px 60px #11121e,
                 -20px -20px 60px #272a47;
    border-radius:100px;
  }

  .sidenav-logo img {
  width:100px;
  }
}
