/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  position:fixed;
  top:0px;
  width: 100%;
  align-items: center;
  justify-content: beginning;
  padding: 20px;
  background-color: #1B1B1B;
  // box-shadow:  20px 20px 60px #0a0a0a,
  //            -20px -20px 60px #1e1e1e;
  z-index:5;
  span {
    background-image: linear-gradient(transparent 48px, #F243B3 50%, #FFCA47 100%);
    position:relative;
  }
}

/* Make room for the menu icon on mobile */
.header__title {
  margin-left: 0px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left:20px;
  // &:after {
  //   content: ".";
  // }
  &.form-title {
    display: flex;
    flex-direction: column !important;
  }
}

@media only screen and (min-width: 56.875em ) {
  .header {
    left:200px;
    span {
      background-image: linear-gradient(transparent 58px, #F243B3 50%, #FFCA47 100%);
    }
  }
  .header__title {
    margin-left: 16px;
    font-size: 48px;
  }
}

