/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  position:fixed;
  top:0px;
  height: 150px;
  width:100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #1B1B1B;
  z-index:1;
  span {
    background-image: linear-gradient(transparent 54px, #F243B3 50%, #FFCA47 100%);
    position:relative;
  }
}

/* Make room for the menu icon on mobile */
.header__title {
  margin-left: 0px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  &:after {
    content: ".";
  }
}

@media only screen and (min-width: 56.875em ) {
  .header {
    left:270px;
    span {
      background-image: linear-gradient(transparent 75px, #F243B3 50%, #FFCA47 100%);
    }
  }
  .header__title {
  margin-left: 48px;
  font-size: 64px;
  }

  // .header__search {
  //   margin-left: 0;
  // }
}
