.app {
  padding: 20px 0;
  display: grid;
  grid-gap: 20px 0;
  grid-template-columns: 20px 1fr 20px;
  align-content: start;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * 20px);
  margin-bottom: -10px;
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * 20px);
}


/* Demo styles */
ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  position:relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  height: 50vh;
  transition :0.3s;
  & .btn-play {
    position: absolute;
    font-size: 3.5em;
    bottom:  10px;
    left: 25px;
  };
}

.item:hover {
  & .btn-play {
      transform: rotate(360deg);
      transition: 0.8s;
    }
}

.item h1, i {
  text-align: center;
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 56.875em ) {
  .hs {
  grid-gap: 58px;
<<<<<<< HEAD
  grid-auto-columns: 300px;
  margin-bottom: -10px;
=======
  grid-auto-columns: 400px;
  margin-bottom: -20px;
>>>>>>> 5fa64afa8cd33834a4329044852d99bc6dbfb4f9
  }
}
