// .app {
//   margin: 40px 0;
//   // padding: 20px 0;
//   display: grid;
//   grid-gap: 20px 0;
//   grid-template-columns: 20px 1fr 20px;
//   align-content: start;
//   position: relative;
// }

// .app > .full {
//   grid-column: 1 / -1;
// }

.hs {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * 20px);
  margin-bottom: -15px;
  a:hover {
    text-decoration: none;
  }
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

/* Controls Previous/Next */
.carousel-control-prev, .carousel-control-next {
  cursor: pointer;
  background: rgb(20,20,20);
  visibility: hidden;
  z-index:20;
}

span.carousel-control-next-icon-custom > i, span.carousel-control-prev-icon-custom > i {
  font-size: 30px;
}

.active-controls {
  visibility: visible;
  width: 25px;
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * 150px);
}

/* Demo styles */
ul {
  list-style: none;
  padding: 0;
}

.item-img{
  z-index:2;
  img {
    width: 93px;
    height: 93px;
    position: absolute;
    left: 14px;
    bottom: 44px;
    z-index: 2;
    border-radius: 64px;
    filter: grayscale(80%);
  }
}

.full.hide-scroll {
  position: relative;
  margin-top: 45px;
}

.item-parent {
  // margin-top: 45px;
  // position: relative;
  // padding-top:45px;
}

.hs li,
.item {
  display: flex;
  align-items: center;
  scroll-snap-align: center;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
  border-radius: 1px;
  height: 50vh;
  min-height: 250px;
  max-height: 450px;

  &:before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    margin: 5px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: #1B1B1B;
  }

  & .btn-play {
      position: absolute;
      font-size: 56px;
      bottom: 0px;
      left: 15px;
  };

  &:hover {
    text-shadow: 4px 4px 15px rgba(0,0,0,0.2);
    & .btn-play {
      transform: rotate(360deg);
      transition: 0.8s;
    }
  }
}


.item h1, i {
  text-align: left;
  text-decoration: none;
  color: $light-yellow;
  z-index:3;
  text-transform: uppercase;
  font-weight:700;
}

@media only screen and (min-width: 56.875em ) {
  .hs {
  grid-gap: 58px;
  grid-auto-columns: 300px;
  margin-bottom: -15px;
    a:hover {
      text-decoration: none;
    }
  }

  .active-controls {
    width: 63px;
  }

  // span.carousel-control-next-icon-custom > i, span.carousel-control-prev-icon-custom > i {
  //   font-size: 350%;
  // }
}
