.navbar {
  position: sticky;
}
.navbar-brand {
  margin-right: 20px;
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.nav-link {
  &:hover {
    color: white !important;
    background-color: rgba(0,0,0,0.3);
  }
}
