.navbar {
  position: sticky !important;
  top: 0;
  z-index: 10000;
  background-color: rgba(0,0,0,0.9);
}
.navbar-brand {
  margin-right: 20px;
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  #navbarText {
    ul {
      margin: 20px 0px 0px 0px;
      text-align: center;
    }
    .nav-item {
      padding: 10px 0px;
    }
  }
}
