/* Each result */
.select2-results {
  background: white;
  color: black;
}

.select2-selection {
  border: 2px solid grey !important;
  background: transparent !important;

}


/* Input field */
.select2-selection__rendered {
    color: black;
    display: block !important;
    .select2-search__field {
      width: 100% !important;
      height: 100%;
    }
 }



 .select2-container--default .select2-search--inline {
  margin: 10px;
  height: 36px;
  .select2-search__field {
    color: white;
    margin-top: 0 !important;
  }
 }

.select2-selection__choice {
  border: none !important;
  border-radius: 25px !important;
  padding: 6px 12px !important;
  background: $cyan !important;
  color: white !important;
  font-weight: bold;
  margin: 10px !important;
}

.select2-selection__choice__remove {
  color: white !important;
}

/* Around the search field */
.select2-search {  }

/* Search field */
.select2-search input {

}

/* Higlighted (hover) result */
.select2-results__option--highlighted {
  color: black;
}

/* Selected option */
.select2-results__option[aria-selected=true] {
    color: white!important;
    background: #1C1848!important;
}

