
.sidenav {
  font-size: 20px;
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 270px;
  position: fixed;
  top:0px;
  left:0px;
  transform: translateX(-400px);
  // transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 8;
  padding-top:126px;
  box-shadow:  10px 10px 19px #0b0b0b,
             -10px -10px 19px #2b2b2b;
}

.sidenav-logo img {
    width: 20px;
  }


.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.sidenav__list-item {
  padding: 20px 20px 20px 48px;
  color: #6F6F6F;
  display:flex;
  align-items: center;
  font-weight:300;
  transition: all 0.15s ease-out;
  font-size: 16px;
  &:hover{
    padding-left: 60px;
    cursor: pointer;
    background: #1B1B1B;
    color:#F2E0B7;
    box-shadow: inset 9px 9px 18px #141414,
                inset -9px -9px 18px #222222;
    i {
      color:#F2E0B7;
    }
  };
}

.sidenav__list-item.active{
    padding-left: 60px;
    cursor: pointer;
    background: #1B1B1B;
    color:#F2E0B7;
    box-shadow: inset 9px 9px 18px #141414,
                inset -9px -9px 18px #222222;
    i {
      color:#F2E0B7;
    }
  };

.sidenav__list-item i {
  color: #6F6F6F;
  margin-right:20px;
  transition: all 0.15s ease-out;
}

// #moods:hover {
//   color:#F2E0B7;
// }

// #explore:hover {
//   color:#ff8c00;
// }

// #explore:hover i {
//   color:#ff8c00 !important;
// }


// #library:hover {
//   color:yellow;
// }

// #library:hover i {
//   color:yellow !important;
// }

// #rooms:hover {
//   color:#a1ff0a;
// }

// #rooms:hover i {
//   color:#a1ff0a !important;
// }


@media only screen and (min-width: 56.875em ) {

  .sidenav {
    transform: translateX(0);
  }

  .sidenav-logo {
    position: absolute;
    top: 48px;
    left: 80px;
    border-radius:100px;
    background: #1B1B1B;
    box-shadow:  15px 15px 29px #0b0b0b,
             -15px -15px 29px #2b2b2b;
    transition: box-shadow 0.15s ease-out;
    &:hover {
      box-shadow:  1px 1px 50px #b255d4,
             -1px -1px 50px #6D276D;
    }

  }

  .sidenav-logo img {
  width:100px;
  }

  .sidenav__list-item {
    font-size: 20px;
  }
}


