.slider-div {
  position:relative;
}

.slider-bg {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  height: 19px;
  border-radius: 24px;
  position:absolute;
  top:34px;
  z-index:-2;
  padding: 15px 15px;
  color:#141414 !important;
}

.slider {
  -webkit-appearance: none;
  position:relative;
  width: 100%;
  height: 34px;
  border-radius: 24px;
  outline: none;
  -webkit-transition: .2s;
  box-shadow:
    inset 0 -1px 1px #262626,
    inset 0 .5em .5em #161616,
    inset 0 0 0 .375em #1E1E1E,
    inset 0 1px .125em .375em black,
    inset 0 0 0 1px #1B1B1B;
  background: linear-gradient(#232323, #1B1B1B 35%, #161616);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: $light-yellow solid 0px;
  padding: .375em;
  width: 38px; height: 38px;
  border-radius: 50%;
  background:
    linear-gradient(#141414, #1E1E1E)
      content-box,
    linear-gradient(#232323, #161616)
      border-box;
  cursor: pointer;
  box-shadow:
    0 .375em .5em -.125em #141414,
    inset 0 -.25em .5em -.125em black;
}

.simple_form.edit_playlist, .simple_form.new_playlist {
  img{

  }
}

.slider-img {

  padding: 0px 15px;

  img {
    filter:grayscale(1);
    border-radius: 50%;
    background: #1B1B1B;
    box-shadow:  4px 4px 16px #0b0b0b
             -4px -4px 16px #0b0b0b;
    width:25px;
    height:25px;
    position:absolute;
    user-select:none;
    pointer-events: none;
    top: 36px;
    left: 239px;
    z-index:20;
  }
}

input[type=submit]:focus {
    outline: none;
}
