// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2/dist/css/select2";
@import '/spin.js/spin';

// Your CSS partials
@import "components/index";
@import "pages/index";


// h1 {
//   text-align: center;
// }


body {
  a:hover {
    text-decoration: none;
  }
}

.content-wrapper {
  // background: linear-gradient(160deg, #120f30 64%, $purple 95%);
  background: #120f30;
  min-height: 100vh;
}

.text-muted a {
  color: grey;
}
/*  SCROLLBAR */

/* width */
::-webkit-scrollbar {
  height: 0px;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1B1B1B;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top right, #FFCC31e6, #FD7031e6, #C70D79e6);
}
