<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center">
      <span class="back-button"><%= link_to "<", playlists_path %></span>
      <h1><%= @playlist.name %></h1>
    </div>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col">
    <%= link_to "Edit this playlist", edit_playlist_path(@playlist), class: "btn btn-primary btn-block" %>
  </div>
</div>
