<%= render 'form' %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "Delete this playlist", playlist_path(@playlist), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger btn-block" %>
    </div>
  </div>
</div>
