<div class="container">
  <div class="row">
    <div class="col">
       <h1>All playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
            <div class="card-category" style="background: #fc5c7d; background: -webkit-linear-gradient(to top right, #fc5c7d, #6a82fb);   background: linear-gradient(to top right, #fc5c7d, #6a82fb);">
              <div class="card-category-content pl-3">
                <span class="title"><%= playlist.name.upcase %></span>
                <div class="btn-play">
                  <%= link_to playlist_path(playlist) do %>
                    <i class="fas fa-play-circle"></i>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
