<div class="container">
  <div class="row">
    <div class="col">
       <h1>All playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
          <div class="position-relative">
            <%= link_to playlist_path(playlist) do %>
              <div class="card">
                <div class="card-category">
                  <div class="card-category-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://mpact.tv/wp-content/uploads/2015/06/musique-ambiance-960x480.jpg)">
                    <!-- <div class="btn-edit-playlist">
                      <%#= link_to edit_playlist_path(playlist) do %>
                        <i class="fas fa-ellipsis-v"></i>
                      <#% end %>
                    </div> -->
                  </div>
                </div>
                <div class="pt-1 d-flex justify-content-between">
                  <span><%= playlist.name %></span>
                  <span>XX songs</span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
