<iframe src="https://open.spotify.com/embed/playlist/<%= @playlist.spotify_id %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<div id="player"></div>

<div class="btn btn-primary" id="previous-button">Previous</div>
<div class="btn btn-primary" id="play-button">Play</div>
<div class="btn btn-primary" id="next-button">Next</div>
