<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @playlist.name %></h1>
      <div class="playlist-container">
        <iframe id="spotify-player-iframe" src="https://open.spotify.com/embed/playlist/<%= @playlist.spotify_id %>" <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="293" height="373" frameborder="0" allowtransparency="true" allow="encrypted-media" style="width: 80%;"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <span><%= link_to "Edit playlist", edit_playlist_path(@playlist) %></span>
    </div>
  </div>
</div>
